.headerSet{
position: fixed;
top:0;
background-color: white;
width:390px; 
max-width: 100%;
height:85px;
z-index: 999999;
    header{
        display: flex; justify-content:center;
        align-items: center;
        padding: 0px 20px;
        a{text-decoration: none; color:#848484; left:7.9px;
        font-size:24px;
        }
        h3{font-weight: 600; font-size: 18px; line-height: 25.5px; 
            letter-spacing: -2%; margin:0px 138px 0px;}
        div{}
    }
}