.banner-wrap{
padding: 20px;
background-color: #f8f8f8;
margin:10px 0px;
display: flex; justify-content: center; align-items: center;
    .banner{
        background-color: white;
        padding:12px 20px;
        border-radius: 16px !important;
        display:flex; align-items: center;
        box-shadow: #ccc 0.1px 0.1px 50px;
        .banner-title{
            h5{font-weight:600 !important; 
                font-size:15px !important; 
                line-height: 23.5px !important; 
                letter-spacing: -2%;
            margin-bottom:0 !important;
            }
            p{font-size:13px !important; line-height:19px; letter-spacing:-2%; 
            color:#848484 !important;
            margin-bottom:0 !important;
            }
        }
        img{}
        .right{}
    }
}
.detail-bottom{
padding:10px 20px;
    h5{font-weight:600; font-size: 17px; line-height: 24px;
    letter-spacing: -2%; color:#000;
    }
    div{
        .left{}
        .right{font-weight: 500; font-size: 15px; line-height:23.5px; letter-spacing: -2%;}
    }
}

.user-btn-wrap{
    width:100%; padding:10px 20px;
    a{text-decoration: none; color:#848484 !important; 
        line-height:22px !important; letter-spacing: -3%; font-size: 14px;
        padding:10px 0px !important;}
}

.input-bg-gray{
width:60%;   
}