.modal-wrap{
position: fixed;
z-index:10;
background-color: rgba(0,0,0,.8);
left:0; top:0;
width:100%;
height: 100%;
display: flex;
align-items: flex-end;
    .popup{
        width:100%; height:80%;
        background-color: white;
        border-top-left-radius:16px;
        border-top-right-radius:16px;
        padding:0px 20px;
        overflow-y: auto;
        .content-wrap{
            h2{
                padding-top:10px;
                font-weight: 600; font-size: 20px; line-height: 28px;
                letter-spacing: -1%;
            }
            div{
                div.left{font-weight:400; font-size: 15px; line-height: 20px; letter-spacing: -3%;}
                div.right{width:36px; height:36px; display:flex; justify-content: center; align-items: center;
                    input{width:20px; height:20px;}
                    }
            }
        }
    }
}