.paid-wrap{
    width:100%;
    padding:0px 20px;
    .paid-top{
        padding:10px 0px;
        border-bottom: 1px solid #adb5ad;
        width:100%;
        display:flex; align-items: center; justify-content: center;
        div.left{
            width:80%;
            h3{
                font-weight:600; 
                font-size:17px; 
                line-height: 24px; 
                letter-spacing: -2%;
            }

        }
        div.right{
            width:20%;
            button{
                width:64px !important;
                height:32px !important;
                padding:10px 12px !important;
                border:1px solid #e7e7e7;
                font-weight: 500 !important;
                font-size:13px !important;
                line-height: 22px !important; 
                color:#525252 !important;
                display:flex !important;
                justify-content: center !important;
                align-items: center !important;
            }
        }
    }
    .paid-msg{
        display:flex;
        align-items: center;
        justify-content: center;
        width:100%; padding:12px 16px; margin:10px 0px;
        background-color: #f0f8f8; 
        border:1px solid #7ed4d2;
        border-radius: 16px;
        font-weight:600; font-size:14px; line-height: 22px; 
        letter-spacing: -2%;
        color:#48b2af;
        img{
            width:12px; height: 17px;
            margin-right: 5px;
        }
    }
    .paid-price{
        display: flex; justify-content: space-between;
        align-items: flex-start;
        div.left{
        width:24%; height: 54px; 
            img{width:100%; border-radius: 10px;}
        }
        div.right{
            margin-left: 12px;
            width:76%;
            h1{font-weight:500; font-size: 15px; 
                line-height: 23.5px; letter-spacing: -2%; color:#000; margin-bottom: 0px !important;}
            h3{font-weight: 400; 
                font-size: 13px; line-height: 22px; 
                color:#999; margin-bottom: 0px !important;
            text-decoration: line-through;
            }
            h1.txt{
                color:#48b2af; font-size:11px; line-height: 12px; font-weight: 500; margin-bottom: 0px !important;
                span{
                font-size: 16px !important; line-height: 25px !important; letter-spacing: -2%;
                }
            }

        }
    }
    .paid-pay{
    width:100%; height:143px; margin:16px 0px;
        h3{
        font-weight:600; font-size:17px; line-height:24px; letter-spacing: -2%;  
        }
    }
}
.total{
    .left{font-weight:700; font-size:17px; 
        line-height: 24px; letter-spacing: -2%;}
    .right{color:#48b2af; font-weight:700; font-size: 18px;
    line-height: 24px; letter-spacing: -2%;
    }
}

.pay{
    padding:5px 0px;
    .left{font-weight:400; font-size:15px; line-height: 23.5px; letter-spacing: -2%;}
    .right{font-weight:600; font-size:16px; line-height: 25px; letter-spacing: -2%;}
}

.payment-wrap{
margin:40px 0 30px;
width:100%; height:176px; padding:0px 20px;  
    h3{
        font-weight:600; font-size: 17px; line-height: 24px;
        letter-spacing: -2%;
    }  
}

.dc-btn-wrap{
height: 124px;
display: flex;
flex-direction: column;
gap:10px;
}

.paid-info{
    padding:0px 20px;
    h3{font-weight:400; font-size: 14px; 
        line-height: 22px; letter-spacing: -3%; color:#525252; margin-bottom: 0px !important;}
    h4{font-weight:400; font-size: 13px; 
        line-height: 19px; letter-spacing: -2%; color:#525252; margin-bottom: 0px !important;}
    hr{margin:10px 0px;}
    .paid-info-txt{
        display: flex; justify-content: space-between;
        .left, .right{font-size: 13px; line-height: 19px; letter-spacing: -2%; color:#6d6d6d;}
        .left{width:5%;}
        .right{width:95%;}
 
    }
}

.footer-btn-wrap{
margin:76px 0px 0px
}

/*상세페이지*/
.detail-header{
    z-index:9999999;
    box-sizing: border-box !important;
    position: fixed; top:0;
    background-color: white;
    width:375px !important; padding:0px 20px;
    max-width:100%;
    //height:100%;
    header{
    background-color: white;
    width:100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    height: 52px;
        a{text-decoration:none; color:inherit; font-size:24px; color:#848484; margin-bottom:3px;}
h3{font-weight:600; font-size:18px; line-height: 25.5px; 
    letter-spacing: -1px; margin-bottom: 0px !important;
text-indent:10px;
}
        div{
            width:44px; height:44px; display:flex; justify-content: center; align-items: center;
            img{width:24px; height:24px;}
        }
    }

}

.detail-img-wrap{
width:100%;
height: 256px; 
img{
width:100%;    
}
}

.boon{
width:20px !important; height:17px !important;
}

.paid-msg-inner{
font-weight: 500; font-size:14px; line-height: 22px; 
letter-spacing: -3%; color:#000 !important;
margin-bottom: 0px !important;
    span{
        font-weight: 700 !important;
        color: #48b2af !important;
    }
}
.detail-text-wrap{
h3{font-weight:600; font-size: 17px; line-height: 24px; letter-spacing: -2%; 
color:#000;
}
p{font-weight: 400; font-size: 16px; line-height: 28.5px; letter-spacing: -2%;
color:#151515;
}
}
.h54{
height:54px; 
}
.detail-btn-wrap{
margin:40px 0px 30px;
}


.detail-text-wrap{
    p{
    font-weight:400; font-size:16px; line-height: 28.5px;
    letter-spacing: -2%;  color:#151515;  
    }
}

.detail-extra{
    width:100%; padding:10px 20px;
    background-color: #f7f8f9;
    .detail-extra-text{
        h3{
            font-weight:600; font-size:17px; line-height:24px; letter-spacing: -2%;
        }
        div{
            width:100%;
            .one{
            width:108px; height:77px;
            display:flex; justify-content: center; align-items: center; flex-direction: column;
            background-color: white;
            border-radius: 10px;
            p{
                font-weight:500; font-size: 13px; line-height: 19px; letter-spacing: -2%;
                padding-top:10px;
            }
                img{
                    padding-top:10px;
                    height:24px;
                }
            }
        }
    }
}
.detail-extra-my{
background-color: white;
padding:0px 20px;
p{font-weight:600; font-size:17px; line-height: 24px; letter-spacing: -2%; padding-top:30px;}
 
}
.detail-extra-my-bg{
        background-color: #f9f9f9; margin-bottom: 20px;           
                .text{
                    padding:10px 20px;
                    .one{
                    padding:10px;
                    font-weight:400;
                    font-size:15px; line-height: 23.5px; letter-spacing: -3%; color:#151515;
                    width:244px;
                    background-color: white; border-radius: 10px;
                    margin-bottom:10px;
                    }
                    .two{
                        margin-left: 5px;
                      color:#41a09e; font-weight:500; font-size:15px; line-height: 23.5px; letter-spacing: -2%;
                      background-color: white; border-radius: 8px; display: flex; justify-content:center; align-items: center;
                    }
                }
      
                img{
                height: 65px; 
                }
}

.detail-extra-my-composition{
    padding:10px 20px;
    h3{
        color:#000; font-size:17px; line-height:24px; letter-spacing: -2%;
    }
    div{
        padding:5px 0px; width:100%;
        div.front{
        width:24px;
        border-bottom:1px solid #f3f3f3;
        }
        div{
        text-indent:15px; font-weight:400; font-size:16px; line-height: 28.5px; letter-spacing: -2%; color:#151515; border-bottom:1px solid #f3f3f3;
    }
    }

}
.accordion-content{
    background-color: #f7f8f9; padding:20px; margin: 10px 0px;
    h3{
        font-weight:700; line-height:23.5px; letter-spacing: -2%;
    }
    div{
        div.front{width:24px; text-align: center; }
        div.end{font-weight: 400; font-size: 15px; line-height: 23.5px; letter-spacing: -2%;}
    }
}
.exp-top{
    padding:80px 20px 24px 20px; margin-bottom: 24px;
    display: flex; justify-content: center; align-items: center;
    flex-direction: column;
    img{height:144px;width:103px; max-width:100%;}
    h1{font-weight:700; font-size:18px; line-height: 24px; letter-spacing: -2%; color:#000;}
    h2{font-weight:600; font-size:16px; line-height: 28.5px; letter-spacing: -2%; color:#41A09E;}
    p{font-weight:500; font-size:16px; line-height: 28.6px; letter-spacing: -2%; color:#151515;}
}

/*상세페이지 끝*/

.exp-text-wrap{
padding:10px 20px;
border-bottom:1px solid #f3f3f3;
h1{font-weight:700; font-size: 18px; line-height: 24px; letter-spacing: -2%; color:#000;margin:35px 0px 25px;}
.number{width:26px; height:24px; font-weight:500; font-size: 13px; line-height: 22px; letter-spacing:0; color:#41A09E;}
h2{font-weight:600; font-size: 17px; line-height: 24px; letter-spacing: -2%; color:#151515; margin-top: 10px;}
p{font-weight:400; font-size: 16px; line-height: 28.5px; letter-spacing: -2%; color:#151515;}
span{
   font-weight:600; font-size: 16px; line-height: 28.5px; letter-spacing: -2%; color:#151515; 
}
}

.exp-btn-wrap{
padding:86px 20px 26px;
}

//맛보기
.gus-title{
display: flex; 
width:100%; justify-content:center; align-items: center;
font-size: 17px; line-height: 25.5px; letter-spacing: -2%; color:#000;
height: 78px;
}

.gus-wrap{
    width:100%; padding: 5px 20px;
    h1{font-weight: 600; font-size: 16px; line-height: 28.5px; letter-spacing: -2%; color:#151515;}
}
.gus-bg{
    margin-bottom:20px;
    background-color: #f3f3f3; padding: 5px 20px 20px;
    border-bottom:1px solid #f3f3f3;
    font-weight: 400; font-size: 15px; line-height: 23.5px; letter-spacing: -2%; color:#525252;
    h2{font-weight: 600; font-size: 15px; line-height: 23.5px; letter-spacing: -2%; color:#151515;}
    div.bottom{
    display: flex; justify-content: center; align-items: center;
    font-weight:500; font-size: 14px; line-height: 22px; letter-spacing: -3%; color:#41A09E ;
    height: 57px; background-color: #f3f3f3;
    }
}   

.gus-btn-wrap{
    padding:30px 20px;
    .gus-border{
width:100%; background-color: #f0f8f8; padding:12px 16px; border:1px solid #7ed4d2;
font-weight: 500; font-size: 15px; line-height: 23.5px; letter-spacing: -2%;
color: #41A09E; border-radius: 16px; text-align: center;
    }
}

.input-wrap{
    margin-bottom:30px;
padding:10px 20px;
    div{
       label{
font-weight:400; font-size: 12px; line-height: 16px; letter-spacing: -2%; color: #848484;
       } 
       input{
        width: 100%;
padding: 12px; border-radius: 16px; border: 1px solid #e7e7e7;
       }
    }
}

.input-wrap-small{
        margin-bottom:30px;
padding:10px 20px;
           label{
font-weight:400; font-size: 12px; line-height: 16px; letter-spacing: -2%; color: #848484;
       } 
       div{
            .date{
            width:218px;
            padding: 12px; border-radius: 16px; border: 1px solid #e7e7e7;
            }
            .check{
            width:28px; height: 28px;
            border-radius: 6px; border: 1px solid #e7e7e7 !important;
            }
       }
}



.input-wrap-check{
    background-color: #f8f8f8;
    display: flex; justify-content: center; align-items: center;
    .edit{
        width:165px; height:48px; 
        padding: 10px;
        display: flex; justify-content: center; align-items: center;
        label{width:100%;}
        .check{
            display: flex; justify-content: center; align-items: center;
            border: 0px solid #000 !important;
        }
    }

}
.input-btn-wrap{
padding:160px 20px 40px;
}

.dup-wrap{
    img{width:100%;}
}

.dup-time{
    width:100%; background-color: #f9f9f9;
    padding: 32px 20px;
    h5{
        font-weight: 500; font-size: 16px; line-height: 28.5px; letter-spacing: -2%;
    }
    h4{
    font-weight: 700; font-size: 18px; line-height: 24px; letter-spacing: -2%;
    span{color:#48beaf;}
    }
    .dup-time-progress{
    width:100%;
    .progress{
        .progress-bar{
        width:70%;
        }
    }
    .num{font-weight:500; font-size: 15px; line-height: 23.5px; letter-spacing: -2%;}
    }
}

.wait-wrap{
width:100%; padding:10px 20px;
    h5{
        font-weight:600; font-size: 17px; line-height: 24px; letter-spacing: -2%; color:#000;
    }
    .wait-wrap-over{
                    overflow: hidden;
        display: inline-flex;
        .wait{
 overflow: hidden;
            width:200px;
            img{width:220px; height: 120px;}
            h5{font-size: 12px; line-height: 16px; letter-spacing: -2%; color:#848484; font-weight: 500; padding-top:10px;}
            h4{font-size: 15px; line-height: 23.5px; letter-spacing: -2%; color:#000; font-weight: 500;}
           .line{font-weight: 400; font-size: 13px; line-height: 22px; letter-spacing: 0px; color:#999; text-decoration: line-through; margin-bottom: 0px !important;}
           div{
            .red{font-weight:700; font-size: 15px; line-height: 20px; letter-spacing: -3%; color:#ff6678;}
            .red-right{font-weight:700; font-size: 15px; line-height: 20px; letter-spacing: -3%; color:#000;}
            .green-l{font-weight:700; font-size: 16px; line-height: 25px; letter-spacing: -3%; color:#48b2af;}
            .green-r{font-weight:500; font-size: 11px; line-height: 16px; letter-spacing: -3%; color:#48b2af;}
           }
        }
    }
}
.double-btn-wrap{
padding:72px 20px 30px;
}
.title-wrap{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h5{font-weight: 700; font-size: 20px; line-height: 28px; letter-spacing: -1%; color: #151515;}
    p{font-weight: 400; font-size: 14px; line-height: 22px; letter-spacing: -3%; color: #848484;}
}
.tran-img-wrap{
width:100%;
img{width:100%;}
}
.inner-footer{
height: 60px; width:100%; padding: 10px 20px;
display: flex; justify-content: space-between; align-items: center;
div{
align-items: center; font-weight: 500; font-size: 15px; line-height: 23.5px; letter-spacing: -2%;
    img{width:36px; height: 36px;}
}
.down{
font-weight:500px;
font-size: 14px;
line-height: 22px;
letter-spacing: -3%;
}

}

.trans-btn-wrap{
    width:100%; padding:10px 20px;
}

//사주정보선택 
.select-wrap{
    padding:10px 20px;//위아래 10px 좌우20px
    h5{
      font-size: 17px;  font-weight: 600; letter-spacing: -2%;
      line-height: 24px; color:#000;
    }
    .pic-wrap{
        .radio{
            width:36px; height:36px;
            display:flex; justify-content: center;
            align-items: center;
            input{
            width:20px; height: 20px; border: 6px solid #48b2af !important;
            }
        }
        img{
        width:60px; height:60px; border-radius:10px;
        }
    }

}
    .underline{
    height:10px; border-bottom:1px solid #f3f3f3;
    margin-bottom: 10px;
    }

.text-wrap{
    padding-top:15px;
    div{
        h3{
            font-weight: 600; font-size: 15px; line-height: 20px;
            letter-spacing: -3%;
        }
        button{
            color:#848484; font-weight: 700;
            font-size: 17px;
        }
    }

    p{
width:223px;
font-weight: 400; font-size: 12px; line-height: 16px; letter-spacing: -2%;
color:#848484;
        span{
            color: #d4d4d4;
            height: 6px;
            padding:0px 6px;
        }
    }
}

.select-btn-wrap{
width:100%; padding:150px 20px 20px;
display:flex; 
}
.select-btn-wrap > div:first-child{
    //페런츠 밑에 여러 엘리먼트가 있을경우 하나만 적용하고자 할때 
    //이스타일은 first-child(왼쪽) last-child(오른쪽)
    //nth-child
margin-right: 10px;
}
.bg-main{
background-color: #41A09E !important;
}

.paid-msg{
        display:flex;
        align-items: center;
        justify-content: center;
        width:100%; padding:12px 16px; margin:10px 0px;
        background-color: #f0f8f8; 
        border:1px solid #7ed4d2;
        border-radius: 16px;
        font-weight:600; font-size:14px; line-height: 22px; 
        letter-spacing: -2%;
        color:#48b2af;
        img{
            width:12px; height: 17px;
            margin-right: 5px;
        }
    }

.paid-price{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .le{
        width:20%;
        img{width:100%; border-radius: 10px;}
    }
    .ri{
        padding-left: 10px;
        display: flex; align-items:flex-start; justify-content: flex-start;
        flex-direction: column;
        width:80% !important;
        h1{font-size: 17px;}
    }
}

.price-box{
    div{
        h5{font-size: 14px;}
        h3{font-size: 15px;}
    }
}

.last-price{
    div{
        h5{font-size: 15px;}
        h3{font-size: 16px;}
    }
}

.price{
    .left{h5{font-size: 15px;}}
    .right{width:24px; height: 24px; display: flex; align-items: center; justify-content: center;
    input{width:20px; height:20px;}
    }
}

.paidcomp-wrap{
    width:100%; padding:10px 20px;
    h5{font-weight:600; font-size:17px; line-height:24px;
    letter-spacing:-2%;
    }
    .paid-price{
        justify-content: space-between !important;
        .left{
            width:80px; height:54px;
            img{border-radius:12px;}
        }
        .right{
        h3{font-weight:500; font-size:14px; line-height:22px; letter-spacing: -3%;
        color:#000; margin-bottom: 0px !important;
        }
        p{font-weight:400; font-size:12px; line-height:16px; letter-spacing: -2%;
        color:#848484;
        }
        button{
        width:100%; background-color:white; border-radius:1px solid gray !important;  
        color:#525252; font-size:14px; line-height:20px; letter-spacing: -3%;
        }
        }
    }
}

     
