@use "./reset.scss"; //@import 사라짐
@use "./margin.scss";

@use "./btn.scss";
@use "./input.scss";
@use "./detail.scss";
@use "./free.scss";

@use './profile.scss';
@use './paid.scss';
@use './service.scss';


@use './border.scss';
@use './common.scss';

@use './font.scss';
@use './modal.scss';


$main-color: #48b2af;

html, html * {
  font-family: 'Pretendard';
}

body {
  background-color: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
  .Min390Max{
    width:375px;
    max-width:100%;
    background-color:white;
    height: 100%;
    .header{
    width:375px;
    max-width:100%;
    height:52px;
    background-color: #ffffff;
    padding:4px 16px 4px 20px;
    display:flex; 
    justify-content: space-between;
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .person{
            width:18px;
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .gnb{
    width: 375px;
    max-width: 100%;
    background-color: #ffffff; padding: 8px 16px;
    border-bottom: 1px solid #f3f3f3;
    display: flex; justify-content: center; align-items: center;
    position: fixed; top:42px;
    overflow:hidden;
      .gnb-wrap{
      width:100%; max-width:100%; display:flex; align-items: center; 
      .gnb-scroll{
      width: 100%;/* 원하는 고정 가로 크기 (예: 300px 등으로 변경 가능) */
      overflow-x: auto;/* 가로 스크롤 가능 */
      overflow-y: hidden;/* 세로 스크롤 방지 */
      white-space: nowrap;/* 링크가 줄바꿈되지 않도록 */
      -ms-overflow-style: none;/* IE, Edge에서 스크롤바 숨기기 */
      scrollbar-width: none;/* Firefox에서 스크롤바 숨기기 */
        .a-active{
          background-color: #f8f8f8;
          border-radius: 16px;
          width:58px;
          height: 36px;
          padding: 8px 16px;
          
        }
        .gnb-a{
        font-size: 15px; line-height: 20px; letter-spacing: -3%; font-weight: 600;
        padding: 8px 16px; color:#999; text-decoration: none;
        }
      }
      .gnb-scroll::-webkit-scrollbar {
      display: none;/* Chrome, Safari에서 스크롤바 숨기기 */
      }

      }
    }
    .tab{
    width:100%; padding:12px 20px; 
    display: flex; justify-content: center; align-items: center;
    background-color: white;
    margin-top:30px;
      .tab-wrap{
      background-color: #f9f9f9; border-radius: 16px;
      width: 100%;height: 50px; padding: 6px; display:flex; align-items: center; justify-content: space-around;
        .tab-wrap-a-active{
        width:110px; height: 38px; display: flex; align-items: center; justify-content: center; 
        color:#151515 !important; font-weight:500; font-size: 14px; line-height: 22px; letter-spacing: -3%; 
        border-radius:16px; background-color: white !important;
        box-shadow:#151515;
        }
        .tab-wrap-a{
        width:110px !important; height: 38px !important; display: flex; align-items: center; justify-content: center; 
        color:#999; font-weight:500; font-size: 14px; line-height: 22px; letter-spacing: -3%; 
        }

      }
    }
    .content-wrap{
      box-sizing: border-box;
      background-color: #ffffff;
      padding: 12px 20px;
      height:100%;
      padding:20px; 
      display:flex;
      flex-direction:column;
      .img-wrap{
      width:335px; height:210px;
        img{
        border-radius: 16px;
        }
      
      }
      .text-wrap{
      margin-top:10px;
      width:100%;
      height: 57px; 
      padding: 4px;
      p{color:#000; font-weight:500; font-size: 16px; line-height: 28.5px; letter-spacing: -2%;}

      }
    }
    .infinite-wrap{
    padding: 15px 0px;
    height: 100%;
    display: flex; justify-content: center;
    background-color: white;
      .infinite-content{
      display: flex; justify-content: center;
      width:335px;
      height: 78px;
        .infinite-img-wrap{
        width:80px; height:54px; display: flex; justify-content:space-around; align-items: center;
        margin-right:12px; 
        img{border-radius: 8px;}
        }  
        .infinite-text-wrap{
        width:243px; height: 24px; padding: 0px 2px;
        p{font-size: 12px; font-weight: 500; line-height:23.5px; letter-spacing: -2%;}
        .btn-wrap{margin-top:7px;}
        }
      }
    }
    .err404-wrap{
      margin-top:257px;
      padding:0px 20px;
        .err404{
          width:100%; height:209px;
          //border:1px solid black;
          display: flex; 
          flex-wrap:wrap;
          justify-content: center;
          align-content: center;
          .err404-img{
            width:76px; height:76px; background-color: #48beaf;
            border-radius: 50%; overflow: hidden;
            img{
              width:77px; 
              height:77px;
            }
          }
          .err404-textwrap{
            margin-top:28px;
            width:100%;
            h1{
            font-weight:600; font-size:24px; line-height: 35.5px; 
            letter-spacing: -2%;
            color:#000;
            text-align: center;
            }
            p{
              box-sizing: border-box;
              padding:0px 20px;
              text-align: center;
              font-weight: 400;
              font-size:16px;
              line-height: 28.5px;
              letter-spacing: -1px;
              color:#6d6d6d;
            }
          }
        }
    }
    .btn-wrap{
      padding:10px 20px;
      margin-top:252px;
    }
    .back-wrap{
    padding:0px 20px;
    }
    .login-text-wrap{
      width:100%; height:208px;
      display:flex; justify-content: center; align-items: center;
      .login-text{
        text-align:center;
        p{font-weight: 500; font-size:24px; 
          letter-spacing: -2%; line-height: 35.5px; height: 36px;}
        h1{font-weight:700; line-height: 39.5px; 
          letter-spacing: -1%; font-size: 27px;}
      }
    }
    .login-img-wrap{
      width:100%; display: flex; justify-content: center;
      align-items: center;
      .login-img{
        width:160px; height:218px;
      }
    }
    .login-btn-wrap{
      margin: 60px 0px 50px;
      width:100%; padding:16px 20px; height:100%;
      .login-btn-bottom-text{
      margin-top: 16px;
      width:100%; height:22px; text-align:center;
      font-size:14px; color:#999;
      letter-spacing: -3%;
      }
    }
   .service-wrap{
    width:100%; padding: 0px 20px; text-align: center; margin-top: 96px;
    .service{
      width:100%; height: 209px; 
      .service-img{
        width:100%; height:76px; display: flex; justify-content: center;
        img{
          width:76px; height: 76px; border-radius: 50%;
        }
      }
      .service-textwrap{
        margin: 35px 0 50px;
        height: 105px;
        h1{font-weight:600; font-size:24px; line-height: 35.5px; letter-spacing: -2%; color:#000;}
        p{font-size: 16px; font-weight: 400; line-height: 28.5px; letter-spacing: -2%; text-align: center; color:#6d6d6d;} 
      }
    }
    }
    .service-bottom{
  padding: 0px 20px;
    h5{
      font-weight:600; font-size: 16px; line-height: 28.5px; letter-spacing: -2%; 
      color:#151515; margin:25px 0 5px;
    }
    .service-bottom-inner{
      div{
        text-indent: 10px;
        h5{font-weight: 600; font-size: 15px; line-height: 23.5px; letter-spacing: -2%;}
        p{color:#6d6d6d; font-weight: 400; font-size: 15px; line-height: 23.5px; letter-spacing: -2%;}
      }
    }
    }
    .now-wrap{
      width:100%; display: flex; justify-content: center; align-items: center;
      .now-box{
       width:132px; margin-bottom: 10px;
      img{width:100%;}
    }
    }
    .agree-input-wrap{
  padding:0px 30px;
  h5{
    font-size: 16px; font-weight: 400; line-height: 28.5px; letter-spacing: -2%;
    span{
      color:#48b2af; font-weight:600; margin-right: 10px;
    }
    span.gray{
      color:gray; font-weight:600; margin:0px 10px; width:130%;
    }
    span.black{
      color:#000; font-weight:600;
    }
  }
    }
    .agree-btn-wrap{
    padding: 12px 20px;
    }
    .complete-wrap{
     margin: 150px 0px 50px;
      display: flex; justify-content:center; align-items: center;
      flex-wrap: wrap;
      .complete-img-wrap{
        img{height: 220px;}
      }
  .complete-text-wrap{
    margin:50px 0px 160px ;
    text-align: center;
    h1{font-weight: 700; font-size: 24px; line-height: 35.5px; color:#000;}
    p{font-weight:400; font-size: 16px; line-height: 28.5px; letter-spacing: -2%; color:#6d6d6d;}
  }
    }
    .complete-btn-wrap{
     padding: 12px 20px;
      margin-top: 170px;
    }
    .kakao-wrap{
  padding: 0px 20px;
  .kakao-text-wrap{
    margin:70px 0px 70px;
    text-align: center;
    h2{font-weight: 500; font-size: 24px; line-height: 35.5px; letter-spacing: -2%; color: #000;}
    h1{font-weight: 700; font-size:27px; line-height: 39.5px; letter-spacing: -1%; color:#000;}
  }
    }
    .kakao-sign{
    width:100%; height:98px; 
    display: flex; justify-content: center; align-items: center;
    .kakao-sign-wrap{
    box-sizing: border-box;
    padding:12px 24px;
    border: 1px solid #e7e7e7; border-radius: 16px;
    width:335px; 
    display: flex; justify-content: center; align-items: center;
    .left{display: flex; align-items: flex-start;
    img{width:26px;}
    }
    .right{
      width:231px; 
    p{font-weight: 400; font-size: 17px; line-height: 24px; letter-spacing: -2%; margin-bottom: 0px !important;}
    p.gray{font-weight:400; font-size: 14px; line-height: 22px; letter-spacing: -3%; color: #999;}
  }
  }
    }

    .load-wrap{
      h3{font-weight:600; font-size: 18px; line-height: 25.5px; letter-spacing: -2%;}
    }
    .load-any-wrap{
      width:360px; height: 124px; margin: 170px 0px 420px;
      display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: column;
      div{
        margin-top: 40px;
        font-weight: 700; font-size: 22px; line-height: 32.5px; letter-spacing: -1%;
      }
    }
    .banner-wrap{
      margin-bottom: 40px;
      background-color: #f7f8f9;
      padding: 12px 20px;
      p{
        font-weight:500; font-size: 15px; line-height: 23.5px; letter-spacing: -2%; margin-bottom: 0px !important; margin-top: 5px;
      }
      img{
        width:80px; height:54px; border-radius: 16px;
      }
    }
    .detail-text-wrap{
      padding: 0px 22px;
      h1{font-weight: 600; font-size: 17px; line-height: 24px; letter-spacing: -2%; margin-top: 5px;}
      p{font-weight: 400; font-size: 16px; line-height: 28.5px; letter-spacing: -2%; color:#151515;}
    }
  }
}
.banner{
width:350px; height: 84px; padding: 12px 20px; background-color:white; border-radius: 16px;
}
.nav-wrap{
top:0;
}
.number{
width:28px; height:24px; background-color: #f0f8f8; padding: 1px 8px;
display: flex; justify-content: center; align-items: center;
font-weight: 500; font-size: 13px; line-height: 22px; letter-spacing: 0px;
color:#41A09e;
}
    footer{
    width:100%; height:100%;
    background-color: #f9f9f9 !important;
    padding: 32px 20px 40px 20px;
      p{
        font-weight: 400; font-size: 13px; line-height: 19px; letter-spacing: -2%; color: #6d6d6d;
        a{text-decoration: none; color:#848484; font-size: 14px; line-height: 22px; letter-spacing: -3%; font-weight: 500;}
      }
    }

.d-flex{
display:flex; 
}
.space-between{
justify-content: space-between;  
}
.back-arrow{
width:44px; height:44px; display:flex; justify-content: center;
align-items: center; font-size: 24px;
}

.hptop{
position: fixed; width:375px; max-width: 100%;
img{width:375px; max-width: 100%;}
}

.g39010{
height: 10px; width: 100%; background-color: #f9f9f9;
}
.h16{
width:100%; height:16px;
}
.h32{
width:100%; height:32px;
}
.wh28{
width:28px; height:28px;
}
.mt90{
margin-top: 90px;
}
.mb28{
margin-bottom:28px;
}

.gray-bg{
background-color: #f7f8f9; border-radius: 16px; height: 60px;
padding: 8px 20px; line-height: 28.5px; 
display: flex; align-items: center;
span{font-size: 16px; font-weight: 600;}
}

.p20{
padding: 0px 10px;
}

.term-box {
  background-color: #f8f8f8;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 6px;
  font-size: 14px;
  color: #555;
}

.pointer {
  cursor: pointer;
}
p{
margin-bottom:0px !important;
}
a{text-decoration: none !important;}
