.infinite-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.infinite-track {
  display: flex;
  width: max-content;
  animation: scrollLeft 30s linear infinite;
}

.infinite-wrap {
  flex: 0 0 auto;
  width: 300px; /* 카드 하나 크기 조정 */
  margin-right: 20px;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}